body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Plus jakarta sans;
}

.nav .inner-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 4em;
}

.nav .inner-nav .logo {
  width: 15%;
  padding-top: 0.3em;
}

.nav .sign-up {
  padding: 0 1em;
}

.nav .sign-up a {
  padding: 1em 1.5em;
  border-width: 0.2rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.20em;
  margin-right: 1em;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.nav .sign-up a:hover {
  color: #636363;
}

span {
  color: #D011C9;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em 0;
}

.hero .inner-hero h1 {
  font-size: 3.5em;
  letter-spacing: 0.1em;
}

.hero .inner-hero h4 {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.hero .inner-hero p {
  text-align: center;
}

.kct {
  position: absolute;
  height: 80vh;
  bottom: 0;
  right: 0;
}

.path {
  position: absolute;
  left: 9.5%;
  bottom: 11.6%;
}

.arrow {
  position: absolute;
  bottom: 9.3%;
  left: 48%;
  -webkit-animation: moveLeft 1s ease-in-out alternate infinite;
          animation: moveLeft 1s ease-in-out alternate infinite;
}

@-webkit-keyframes moveLeft {
  0% {
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes moveLeft {
  0% {
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 9.9%;
  right: 32.5%;
}

.container div {
  margin-right: 2em;
  padding: 0 1em;
  background-color: black;
  color: #ffffff;
  border-radius: 1em;
  font-weight: 200;
  letter-spacing: 0.2em;
  font-size: small;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container div:hover {
  background-color: #D011C9;
}

.circle {
  position: absolute;
  top: -45%;
  z-index: -10;
  opacity: 1;
  right: -40px;
}

.listdep {
  background-color: black;
  position: relative;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 55%;
  bottom: -100px;
  visibility: hidden;
}

.listdep ul {
  padding: 0;
}

.listdep ul li {
  padding: 1em 1em;
  list-style-type: none;
}

.listdep ul li a {
  padding: 1em 1em;
  text-decoration: none;
  margin-bottom: 1em;
  color: white;
}

.listdep ul li:hover {
  background-color: #D011C9;
}

.listclubs {
  background-color: black;
  position: absolute;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 62%;
  bottom: 150px;
  visibility: hidden;
}

.listclubs ul {
  padding: 0;
}

.listclubs ul li {
  padding: 1em 1em;
  list-style-type: none;
}

.listclubs ul li a {
  padding: 1em 1em;
  text-decoration: none;
  margin-bottom: 1em;
  color: white;
}

.listclubs ul li:hover {
  background-color: #D011C9;
}

.show {
  visibility: visible;
}
/*# sourceMappingURL=styles.css.map */